@charset "utf-8";
/* CSS Document */

header{
    display: flex;
    height: 10%;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px ;
}
ul{
    display: flex;
    list-style: none;
    gap: 30px;
}
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
section article{
    display: flex;
    flex-direction: column;
    flex: 1 0 250px;
    margin: 20px
}
img{
    width: 100%;
}
section article p{
    text-align: center;
}
a{
    text-decoration: none;
    color: white;
}
h3{
    text-align: center;
}
@media screen and (max-width: 640px) {
header{
    display: flex;
    height: 10%;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px ;
}
header nav ul{
    display: flex;
    flex-direction: column;
}
header nav li{
    background-color: gray;
}
}